@media all  and (max-width: 1280px) {

    .about-container p{
        padding: 0;
    }

    .about-container header hr{
        margin: auto;
    }

    .about{
        margin: 70px;
    }

    .about-container-photo{
        height: 200px;
        width: 200px;
        margin-top: 20px;
        margin-bottom: 20px
    }

    .main-header-content p{
        margin: 0;
    }

    .skills-header{
        width: auto;
    }

    .skills-container{
        padding: 0;
        margin-top: 20px;
    }

    .skills-header hr{
        margin: auto;
        width: 15%;
    }

    .form-container{
        width: 50%;
        margin-bottom: 0;
    }
}
@media all  and (max-width: 1000px) {

    .main-header{
        height: 60vh;
    }
    .main-header-header{
        margin-top: 0;
        margin-bottom: 0;
        font-size: medium;
    }
    .main-header-content {
     margin: 0;
    font-size: larger;
    }
    .main-nav .nav-menu{
        display: flex;
        place-content: space-around;
    }
    .main-nav .nav-menu .nav-menu-item {
        margin:0;
    }
    .main-nav .nav-menu .nav-menu-item a {
        padding: 0;
    }
    .skills-container-inner{
        width: 50%;
        padding:0;
    }
    .form-container{
        width: 80%;
        margin-bottom: 0;
    }
    footer{
        padding:0;
    }
    
}
@media all  and (max-width: 550px) {
    
    .nav-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    }
    .main-nav{
        font-size: 12px;
    }
    .main-header{
        height: 70vh
    }
    .main-header-header{
     width: 100%;
     
    }
    .main-header-content p{
        margin:0;
        margin-bottom: 50px;
    }
    .main-header-content a{
        display: none;
    }
    .about{
        margin: 0;
    }
    .about-container header{
        width: auto;
    }
    .about-container{
        margin: 10px;
    }
    .skills-header{
        width: auto;
    }
    
    .skills-container-inner{
        width: 100%;
    }
    .single-project{
        display: block;
     
        margin: 0;
    }

    .single-project img {
        width: 100%;
    }

.single-project ul { 
    width: 100%;
    margin-bottom: 20px;
}   
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

}









